/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

 /* Custom Fonts */
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:400,600,700|Roboto:300,400,500,700&display=swap');

$coveredbyyourgrace: 'Covered By Your Grace', cursive;
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

/* background image */

$background-image: url("../../theme/assets/bluepoly.jpg");
 /* Containers */

 $x-small: 500px;
 $small: 768px;
 $medium: 1024px;
 $large: 1200px;

 /*Breakpoints*/

 $mobile: $x-small;
 $tablet: $small;
 $desktop: $medium;

 $width: 850px;

/*Colors*/ //default colors to get you started - change them based on your design and branding

$background: #fff;
$background-hover: darken(#fff, 20%);
$primary-color: #0366EE;
$secondary-color: #FBA100;
$accent-color: #cdcdcd;
$alternate-background: #fafafa;
$alternate-color: #404040;
$link-color: #222;
$link-hover-color: lighten($link-color, 20%);
$highlight: #ffeea8;
$error: #D33C40;
$bq-border: 16px solid #f0f0f0;
$green: #12C47C;
$yellow: #FED356;
$blue: #6ab0f3;

/*Typography*/

// Body font
$font-size: 1rem;
$font-size-mobile: .75rem;
$body-font-size: 1rem;
$light: #f2f2f2;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color-light:#f2f2f2;
$font-color-dark: #444;
$font-family: $roboto;
$line-height: 1.5;

// Headings
$heading-font-color-light: #f2f2f2; //change these colors to fit your design
$heading-font-color-dark: #404040;
$heading-font-family: $coveredbyyourgrace;
$heading-line-height: 1.2;

// Mobile heading font size
$h1-mobile: 1.75rem;
$h2-mobile: 1.5rem;
$h3-mobile: 1.25rem;
$h4-mobile: 1.1rem;
$h5-mobile: 1rem;

// Heading font size
$h1: 2.25rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;

/*Padding*/

$padding: 1rem;
$margins: 1.45rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

/*Borders*/

$border-width: 1px;
$border-style: solid;
$border-color: #dedede;
$border-radius: 5px;
$borders: $border-width $border-style $border-color;

/* Box shadow */

$box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.3);

/*Buttons*/

$button-background: $primary-color;
$button-hover: darken($button-background, 10%);
$button-color: $font-color-light;
$button-font-weight: 700;
$button-font-family: $roboto;
$button-font-size: 1rem;
$button-border-width: 1px;
$button-border-style: solid;
$button-border-color: $border-color;
$button-border-radius: 5px;
$button-text-transform: none;

// Accent buttons

$accent-button-background: $secondary-color;
$accent-button-color: #ffffff;
$accent-button-color-hover: #ffffff;

// Muted Buttons
$muted-border: 1px solid $accent-color;
$muted-border-hover: 1px solid darken($accent-color, 30%);
$muted-background: transparent;
$muted-background-hover: transparent;
$muted-color: darken($accent-color, 50%);
$muted-color-hover: darken($accent-color, 50%);

// Round Buttons
$round-buttons: 50px;

/* Forms */

$forms: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea');
$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]');
$input-background: transparent;
$placeholder: darken($accent-color, 20%);
$form-border: 1px solid #cdcdcd;
$form-border-hover: 1px solid darken(#cdcdcd, 10%);
$form-border-focus: 1px solid $link-color;

/* Tables */

$stripes: #f8f8f8;
$caption: #ababab;


/* Code */

$code-color: $font-color-light;
$code-size: 14px;
$code-family: Menlo,'Roboto Mono', monospace;
$code-background: transparent;
$code-borders: $borders;

$nav-height: 90px;

$code-font-family: 'Roboto Mono', Courier New, monospace;
$code-font-color: #b3b9c5;
$string: #92d192;
$variable: #f2777a;
$property: #abb2bf;
$number: #fca369;
$operator: #ac8d58;
$punctuation: #d5d8df;
$comment: #777c85;
$function: #62cfcf;
$keyword: #ffeead;
$attribute: #ffd479;
$class: #e1a6f2;
$tag: #6ab0f3;
$error: #f2777a;

